<div class="row-fluid">
    <div class="panel panel-primary" style="margin-left:0px;background:#eee;">
        <div class="panel-heading">
            <h4 style="color:white!important;margin:5px!important">
                <i class="fa fa-user-circle" aria-hidden="true"> </i> Team Members
            </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div id="userInfo" ng-cloak style="margin-top: 10px;" class="visible-lg visible-md">
                    <div uib-carousel active="model.active" interval="9000">
                        <div uib-slide ng-repeat="startSlide in model.peopleallinfo track by $index" index="$index">
                            <div class="container-fluid" style="display: block; margin: auto; text-align: center;align-items: center;">
                                <div ng-repeat="slide in model.people | limitTo : model.Limitto : startSlide.startSlide">
                                    <div class="{{model.classes}} udTile visible-lg">
                                        <div class="row">
                                            <div ng-if="slide.region == 'US'" class="udInfoSection">
                                                <div class="udAvatarInfo">
                                                    <h6 style="color:#0065A1"><i class="fa fa-user" aria-hidden="true">  </i> {{slide.fullname | cut:true:25:' ...'}}</h6>
                                                    <h6 style="color:#0065A1"> {{slide.title| cut:true:25:' ...'}}</h6>
                                                </div>
                                                <div class="udAvatar" ng-if="slide.url != 'noImage'">
                                                    <img data-toggle="modal" data-target="#bio" ng-click="model.bioInfo(slide)" style="cursor:pointer;" ng-src="{{slide.url}}" class="img-responsive" />
                                                </div>
                                                <div class="photo" ng-if="slide.url == 'noImage'">
                                                    <i data-toggle="modal" data-target="#bio" ng-click="model.bioInfo(slide)" style="cursor:pointer;" class="fa fa-user fa-3x noimage_user" aria-hidden="true"></i>
                                                </div>
                                                <div>
                                                    <h6 style="color:#0065A1"><i class="fa fa-phone" aria-hidden="true"></i> {{slide.phoneNumber}}</h6>
                                                    <h6 style="color:#0065A1;height:35px;"><a href="mailto:{{slide.email}}"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{slide.email}}</a></h6>
                                                </div>
                                            </div>
                                            <div ng-if="slide.region == 'Global'" class="udInfoSection_global">
                                                <div class="udAvatarInfo_global">
                                                    <h6 style="color:white"><i class="fa fa-user" aria-hidden="true">  </i> {{slide.fullname | cut:true:25:' ...'}}</h6>
                                                    <h6 style="color:white"> {{slide.title| cut:true:25:' ...'}}</h6>
                                                </div>
                                                <div class="udAvatar_global" ng-if="slide.url != 'noImage'">
                                                    <img data-toggle="modal" data-target="#bio" ng-click="model.bioInfo(slide)" style="cursor:pointer;" ng-src="{{slide.url}}" class="img-responsive" />
                                                </div>
                                                <div class="photo_global" ng-if="slide.url == 'noImage'">
                                                    <i data-toggle="modal" data-target="#bio" ng-click="model.bioInfo(slide)" style="cursor:pointer;" class="fa fa-user fa-3x noimage_user" aria-hidden="true"></i>
                                                </div>
                                                <div>
                                                    <h6 style="color:white"><i class="fa fa-phone" aria-hidden="true"></i> {{slide.phoneNumber}}</h6>
                                                    <!--<h6 style="color:#0065A1"><i class="fa fa-registered" aria-hidden="true"></i> Hr Team Member</h6>-->
                                                    <h6 style="color:white;height:35px;"><a href="mailto:{{slide.email}}"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{slide.email}}</a></h6>
                                                </div>
                                            </div>
                                            <div ng-if="slide.region == 'Europe'" class="udInfoSection_europe">
                                                <div class="udAvatarInfo_europe">
                                                    <h6 style="color:white"><i class="fa fa-user" aria-hidden="true">  </i> {{slide.fullname | cut:true:25:' ...'}}</h6>
                                                    <h6 style="color:white"> {{slide.title| cut:true:25:' ...'}}</h6>
                                                </div>
                                                <div class="udAvatar_europe" ng-if="slide.url != 'noImage'">
                                                    <img data-toggle="modal" data-target="#bio" ng-click="model.bioInfo(slide)" style="cursor:pointer;" ng-src="{{slide.url}}" class="img-responsive" />
                                                </div>
                                                <div class="photo_europe" ng-if="slide.url == 'noImage'">
                                                    <i data-toggle="modal" data-target="#bio" ng-click="model.bioInfo(slide)" style="cursor:pointer;" class="fa fa-user fa-3x noimage_user" aria-hidden="true"></i>
                                                </div>
                                                <div>
                                                    <h6 style="color:white"><i class="fa fa-phone" aria-hidden="true"></i> {{slide.phoneNumber}}</h6>
                                                    <!--<h6 style="color:#0065A1"><i class="fa fa-registered" aria-hidden="true"></i> Hr Team Member</h6>-->
                                                    <h6 style="color:white;height:35px;"><a href="mailto:{{slide.email}}"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{slide.email}}</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="{{model.classes}} udTile visible-md">
                                        <div class="row">
                                            <div ng-if="slide.region == 'US'" class="udInfoSection">
                                                <div class="udAvatarInfo_md">
                                                    <p style="color:#0065A1;font-size:12px;"><i class="fa fa-user" aria-hidden="true">  </i>                {{slide.fullname }}</p><!--| cut:true:20:' ...'-->
                                                </div>
                                                <div class="udAvatar" ng-if="slide.url != 'noImage'">
                                                    <img data-toggle="modal" data-target="#bio" ng-click="model.bioInfo(slide)" style="cursor:pointer;" ng-src="{{slide.url}}" class="img-responsive" />
                                                </div>
                                                <div class="photo" ng-if="slide.url == 'noImage'">
                                                    <i data-toggle="modal" data-target="#bio" ng-click="model.bioInfo(slide)" style="cursor:pointer;" class="fa fa-user fa-3x noimage_user" aria-hidden="true"></i>
                                                </div>
                                                <div>
                                                    <p style="color:#0065A1;font-size:12px;"><i class="fa fa-phone" aria-hidden="true"></i> {{slide.phoneNumber}}</p>
                                                    <!--<h6 style="color:#0065A1"><i class="fa fa-registered" aria-hidden="true"></i> Hr Team Member</h6>-->
                                                    <p class="ud_sm_phone" style="color:#0065A1;font-size:12px;"><a href="mailto:{{slide.email}}"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{slide.email}}</a></p>
                                                </div>
                                            </div>
                                            <div ng-if="slide.region == 'Global'" class="udInfoSection_global">
                                                <div class="udAvatarInfo_md">
                                                    <p style="color:#0065A1;font-size:12px;"><i class="fa fa-user" aria-hidden="true">  </i>                {{slide.fullname}}</p>
                                                </div>
                                                <div class="udAvatar_global" ng-if="slide.url != 'noImage'">
                                                    <img data-toggle="modal" data-target="#bio" ng-click="model.bioInfo(slide)" style="cursor:pointer;" ng-src="{{slide.url}}" class="img-responsive" />
                                                </div>
                                                <div class="photo_global" ng-if="slide.url == 'noImage'">
                                                    <i data-toggle="modal" data-target="#bio" ng-click="model.bioInfo(slide)" style="cursor:pointer;" class="fa fa-user fa-3x noimage_user" aria-hidden="true"></i>
                                                </div>
                                                <div>
                                                    <p style="color:white;font-size:12px;"><i class="fa fa-phone" aria-hidden="true"></i> {{slide.phoneNumber}}</p>
                                                    <!--<h6 style="color:#0065A1"><i class="fa fa-registered" aria-hidden="true"></i> Hr Team Member</h6>-->
                                                    <p class="ud_sm_phone" style="color:white;font-size:12px;"><a href="mailto:{{slide.email}}"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{slide.email}}</a></p>
                                                </div>
                                            </div>
                                            <div ng-if="slide.region == 'Europe'" class="udInfoSection_europe">
                                                <div class="udAvatarInfo_md">
                                                    <p style="color:#0065A1;font-size:12px;"><i class="fa fa-user" aria-hidden="true">  </i>                {{slide.fullname}}</p>
                                                </div>
                                                <div class="udAvatar_europe" ng-if="slide.url != 'noImage'">
                                                    <img data-toggle="modal" data-target="#bio" ng-click="model.bioInfo(slide)" style="cursor:pointer;" ng-src="{{slide.url}}" class="img-responsive" />
                                                </div>
                                                <div class="photo_europe" ng-if="slide.url == 'noImage'">
                                                    <i data-toggle="modal" data-target="#bio" ng-click="model.bioInfo(slide)" style="cursor:pointer;" class="fa fa-user fa-3x noimage_user" aria-hidden="true"></i>
                                                </div>
                                                <div>
                                                    <p style="color:white;font-size:12px;"><i class="fa fa-phone" aria-hidden="true"></i> {{slide.phoneNumber}}</p>
                                                    <!--<h6 style="color:#0065A1"><i class="fa fa-registered" aria-hidden="true"></i> Hr Team Member</h6>-->
                                                    <p class="ud_sm_phone" style="color:white;font-size:12px;"><a href="mailto:{{slide.email}}"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{slide.email}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row visible-sm visible-xs">&nbsp;</div>
                <div id="myCarousel" class="carousel slide visible-sm visible-xs" data-ride="carousel">
                    <div id="myCarousel_inner" class="carousel-inner" role="listbox">

                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left test" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right test" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="row"> &nbsp;</div>

            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="bio" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="padding: 10px;color:#337ab7">Bio</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <a href="#">
                                <img ng-src={{model.bio.url}} class="img-responsive">
                            </a>
                            <div class="">
                                <h4 style="background: #337ab7;border-bottom-left-radius: 5px;color: white;text-align: center;padding: 10px;margin-top: 0px;border-bottom-right-radius: 5px;">
                                    {{ model.bio.fullname}}
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h4 style="color:#337ab7">
                                {{ model.bio.fullname}}
                            </h4>
                            <h6 style="color:#438fd1">
                                {{ model.bio.title}}
                            </h6>                           
                            <p class="bio" ng-bind-html="model.bio.Bio | sanitize ">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
